<html>
	<head>
		<title>Pad MP Calc</title>
	</head>
	<body>
	<center>
		<h1>Something Broke!</h1>
		<h3>Error: <%= @status %></h3>
		Give the above error and what you did to <a href="https://www.reddit.com/user/ryuujinx" target="_blank">/u/ryuujinx</a>. Or open an issue on the handy-dandy <a href="https://github.com/Ryuujinx/pad_calc/issues" target="_blank">Github</a>. Unless you did something that obviously shouldn't work, in which case don't do that. <br><br> 
		<button onclick="goBack()">Go Back</button>
		<script>
			function goBack() {
		    window.history.back();
		}
		</script>
	</center>
	</body>
</html>
