<html>
	<head>
		<title>Pad MP Calc</title>
	</head>
	<body>
	<center>
		<h1>Results</h1>
		<h3>Total MP in box: <%= @total_mp %></h3>
		<h3>Breakdown</h3>
		<table>
			<% @end_result.each do |row| %>
					<tr>
						<td><%= row[:name] %></td>
						<td><%= row[:mp] %></td>
					</tr>
					<% 	end %>
		</table>
	</center>
	</body>
</html>
